streamlit
pandas
scikit-learn
xgboost
fpdf
plotly
Pillow
streamlit==1.45.1
pandas==2.3.0
scikit-learn==1.7.0
xgboost==3.0.2
plotly==6.1.2
fpdf==1.7.2
pillow==11.2.1
streamlit==1.45.1
pandas==2.3.0
joblib==1.5.1
fpdf==1.7.2
Pillow==11.2.1
scikit-learn==1.7.0
streamlit==1.45.1
pandas==2.3.0
scikit-learn==1.7.0
xgboost==2.0.3
joblib==1.5.1
fpdf==1.7.2
python-dateutil==2.9.0.post0
matplotlib==3.8.4
